.custom-button {
    -fx-background-color: #7e7e7e; /* Domyślny kolor tła przycisku */
    -fx-text-fill: black; /* Domyślny kolor tekstu przycisku */
}

.custom-button:selected {
    -fx-background-color: green; /* Kolor tła przycisku, gdy jest kliknięty */
}